<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <script defer src="js/app.js"></script>
    <title>Document</title>
  </head>
  <body>
    {{!-- {{>header}} --}}
    <main>
      <header>
      <h1>{{title}}</h1>
    </header>
    <section class="search__container">
      <label for="search">Location </label>
      <form class="search__form">
        
        <input class="input__search" type="search" name="search" id="search">
        <button type="submit">search</button>
      </form>
      <h2>Result : <span class="location"></span></h2>
      <div class="result__container">
      <img src="" alt="" class="weather__img">
      <p class="answer"></p></div>
    </section>
    <footer>
      <p>Created by: {{name}}</p>
    </footer>
    </main>
    
    

    {{!-- {{>footer}} --}}
  </body>
</html>
