<h1>{{title}}</h1>

<div class="navigation__container">
    <ul class="navigation__list">
        <li class="navigation__item"><a href="/">Weather</a></li>
        {{!-- <li class="navigation__item"><a href="/about">About</a></li>
        <li class="navigation__item"><a href="/help">Help</a></li> --}}
    </ul>
</div>