* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #000;
  padding: 2rem 0;
  text-transform: uppercase;
  font-size: 3rem;
}
figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 2%;
  margin: auto;
}

.navigation__container {
  padding: 2rem 5rem;
  background-color: rgb(231, 229, 229);
}
.navigation__list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
}

.navigation__item a {
  text-decoration: none;
  color: #000;
}

header {
  color: #000;
  margin: 0 1rem;
  border-bottom: 1px solid #ccc;
}

.search__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.search__form {
  display: flex;
}
button {
  padding: 0 1rem;
  margin-left: 1rem;
  cursor: pointer;
  border: none;
  background-color: #ccc;
}
label {
  margin: 1rem 0;
  font-size: 1.5rem;
}
.search__form input {
  width: 15rem;
  padding: 0.5rem 10px;
  font-size: 1.5rem;
}
h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.answer {
  font-size: 2rem;
}
footer {
  color: #000;
  margin: 1rem 1rem;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
  font-size: 1.5rem;
}
